elpa/

# Cache de compilação nativa
eln-cache/

games/

# Auto-save e backups
auto-save-list/
*~
*.elc

# Arquivos temporários do Projectile
projectile-bookmarks.eld
projects

# TRAMP
tramp

# Outros temporários
.cache/
*.dat
*.log
